In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
anime = pd.read_csv("./Data/Uncleaned/MAL2020/animes.csv")
print("This database is from Kaggle!")
anime.head()

This database is from Kaggle!

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [4]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   title       19311 non-null  object
 2   synopsis    18336 non-null  object
 3   genre       19311 non-null  object
 4   aired       19311 non-null  object
 5   episodes    18605 non-null  float64
 6   members     19311 non-null  int64
 7   popularity  19311 non-null  int64
 8   ranked      16099 non-null  float64
 9   score       18732 non-null  float64
 10  img_url     19131 non-null  object
 11  link        19311 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.8+ MB

In [5]:
anime = anime.drop_duplicates()
anime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16368 entries, 0 to 19006
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         16368 non-null  int64
 1   title       16368 non-null  object
 2   synopsis    15583 non-null  object
 3   genre       16368 non-null  object
 4   aired       16368 non-null  object
 5   episodes    15825 non-null  float64
 6   members     16368 non-null  int64
 7   popularity  16368 non-null  int64
 8   ranked      14611 non-null  float64
 9   score       15964 non-null  float64
 10  img_url     16202 non-null  object
 11  link        16368 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.6+ MB

Look at the result, we have just dropped approximately 3000 records!

There is a noticeable detail: All the columns counts are `non-null`, which means there is not a single `None`, `NaN` and `NaT` in our dataset. Therefore, there are two possible cases:

In [6]:
anime.columns

Index(['uid', 'title', 'synopsis', 'genre', 'aired', 'episodes', 'members',
       'popularity', 'ranked', 'score', 'img_url', 'link'],
      dtype='object')

Well, that's a lot! We should drop some columns

I have already think of dropping the image's URL, link since do not provide anything new about the animes. But what are the the meanings of some columns, `popularity`, etc? Let's learn about those columns directly from MyAnimeList and the data itself.

Well, let's try to explain each column, one by one.

First of all, the `uid` column is the unique ID for every anime on the list. It is a primary key to distinguish every anime to each other.

The `title` column is the anime's names.

The `synopsis` is the short introduction of the animes

The `img_url` points to the poster image of the anime. We can drop them since it is a link and it won't add any new information to the anime.

Similarly, the `link` column points toward the link of the animes on MyAnimeList.

There is the easy part, now we must browse our data for more information.

Firstly, let's drop the two unnecessary columns, `img_url` and `link`.

In [7]:
anime.drop(['img_url', 'link'], axis=1, inplace=True)

We recheck the columns to make sure they were dropped.

In [8]:
anime.columns

Index(['uid', 'title', 'synopsis', 'genre', 'aired', 'episodes', 'members',
       'popularity', 'ranked', 'score'],
      dtype='object')

I'm quite curious about the `synopsis` column. Let check the first element of that column to understand it.

In [9]:
anime['synopsis'][0]

"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead.  \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large training camp alongside many notable volleyball teams in Tokyo and even some national level players. By playing with some of the toughest teams in Japan, they hope not only to sharpen their skills, but also come up with new attacks that would strengthen them. Moreover, Hinata and Kageyama attempt to devise a more powerful weapon, one that could possibly break the sturdiest of blocks.  \r\n \r\nFacing what may be their last chance at victory before the senior players graduate, the members of Karasuno's volleyball team must learn to settle their differences and train harder than ever if they hope to overcome formidable opponents old and new—including their archrival Aoba Jousai and its world-class setter Tooru Oikawa. \r\n \r\n[Written by MAL Rewrite]"

The `synopsis` column is the Rewrite by MAL writers. So, it will help us when we try to classify the animes based on some keywords.

Then, we will have a look at the `genre` column. Let look at first five elements of the attribute.

In [10]:
anime['genre'].head()

0    ['Comedy', 'Sports', 'Drama', 'School', 'Shoun...
1    ['Drama', 'Music', 'Romance', 'School', 'Shoun...
2    ['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...
3    ['Action', 'Military', 'Adventure', 'Comedy', ...
4     ['Action', 'Mystery', 'Supernatural', 'Vampire']
Name: genre, dtype: object

That looks like a Python list. But let check it for sure.

In [11]:
type(anime['genre'][0])

str

It turns out the type of the elements is `str`. We can use the built-in function `ast.literal_eval` to change `str` into `list`.

In [12]:
#Using built-in function ast.literal_eval to convert a string list into a list
import ast
anime['genre'] = anime['genre'].apply(ast.literal_eval)
#Check the type
type(anime['genre'].iloc[0])

list

Let's toy a little with our new `genre` column. We can grab genres of an anime using indexing.

Grabbing out the last genre of the first anime:

In [13]:
anime['genre'][0]

['Comedy', 'Sports', 'Drama', 'School', 'Shounen']

We can grab the first genre of the anime 'Monster' by Naoki Urasawa:

In [14]:
anime['genre'].loc[(anime['title'] == 'Monster')].iloc[0][0]

'Drama'

We then analyze the `aired` column. Let check the first five element.

In [15]:
anime['aired'].head()

0     Oct 4, 2015 to Mar 27, 2016
1    Oct 10, 2014 to Mar 20, 2015
2     Jul 7, 2017 to Sep 29, 2017
3      Apr 5, 2009 to Jul 4, 2010
4                     Jan 6, 2017
Name: aired, dtype: object

The format of the column is:

- "`Month Day, Year` to `Month Day, Year`"
- "`Month Day, Year`"
- Or something else (For unscheduled animes.)

We can easily handle these format using pandas' `apply()` and `pd.to_datetime()`, and split this column into 2 sub-columns:
- Starting date of the anime, `start`.
- Ending date of the anime, `end`.

In [16]:
def split_start(aired):
    if 'to' in aired:
        time = aired.split(' to ')
        start = time[0]
        return start
    return aired

def split_end(aired):
    if 'to' in aired:
        time = aired.split(' to ')
        end = time[-1]
        return end
    return aired
start = pd.to_datetime(anime['aired'].apply(split_start), errors='coerce')
end = pd.to_datetime(anime['aired'].apply(split_end), errors='coerce')

anime = pd.concat([anime,start,end], axis=1)
anime = anime.drop('aired', axis=1)

In [17]:
anime.columns

Index(['uid', 'title', 'synopsis', 'genre', 'episodes', 'members',
       'popularity', 'ranked', 'score'],
      dtype='object')

Next, we will examine the `episodes`.

In [18]:
anime['episodes'].describe()

count    15825.000000
mean        11.658578
std         48.853601
min          1.000000
25%          1.000000
50%          2.000000
75%         12.000000
max       3057.000000
Name: episodes, dtype: float64

In [19]:
anime['episodes'].isnull().sum()

543

Now we will check the `member` column.

In [20]:
np.round(anime['members'].describe(),2)

count      16368.00
mean       27665.06
std        93646.77
min           25.00
25%          297.00
50%         1879.00
75%        11901.00
max      1871043.00
Name: members, dtype: float64

We will then check the number of `NaN` values.

In [21]:
anime['members'].isnull().sum()

0

That's weird, since the number of null values is 0 and the number of 0 `members` is also 0.

Let check the number of animes once again:

In [23]:
anime.count()

uid           16368
title         16368
synopsis      15583
genre         16368
episodes      15825
members       16368
popularity    16368
ranked        14611
score         15964
dtype: int64

Therefore, it seems that every anime has at least 1 member (actually 25 since the min value of `members` is 25.)