In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
anime = pd.read_csv("./Data/animes.csv")
print("This database is from Kaggle!")
anime.head()

This database is from Kaggle!

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [3]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   title       19311 non-null  object
 2   synopsis    18336 non-null  object
 3   genre       19311 non-null  object
 4   aired       19311 non-null  object
 5   episodes    18605 non-null  float64
 6   members     19311 non-null  int64
 7   popularity  19311 non-null  int64
 8   ranked      16099 non-null  float64
 9   score       18732 non-null  float64
 10  img_url     19131 non-null  object
 11  link        19311 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.8+ MB

There is a noticeable detail: All the columns counts are `non-null`, which means there is not a single `None`, `NaN` and `NaT` in our dataset. Therefore, there are two possible cases:

In [4]:
anime.columns

Index(['uid', 'title', 'synopsis', 'genre', 'aired', 'episodes', 'members',
       'popularity', 'ranked', 'score', 'img_url', 'link'],
      dtype='object')

Well, that's a lot! We should drop some columns

I have already think of dropping the image's URL, link do not provide anything new about the animes. But what are the the meanings of some columns, popularity,etc? Let's learn about those columns directly from MyAnimeList and the data itself.

Well, let's try to explain each column, one by one.

First of all, the uid column is the unique ID for every anime on the list. It is a primary key to distinguish every anime to each other.

The title column is the anime's names.

The synopsis is the short introduction of the animes

The image_url points to the poster image of the anime. We can drop them since it is a link and it won't add any new information to the anime.

There is the easy part, now we must browse our data for more information.

In [5]:
anime.drop(['img_url', 'link'], axis=1, inplace=True)

In [6]:
anime.columns

Index(['uid', 'title', 'synopsis', 'genre', 'aired', 'episodes', 'members',
       'popularity', 'ranked', 'score'],
      dtype='object')

In [7]:
anime['synopsis'][0]

"Following their participation at the Inter-High, the Karasuno High School volleyball team attempts to refocus their efforts, aiming to conquer the Spring tournament instead.  \r\n \r\nWhen they receive an invitation from long-standing rival Nekoma High, Karasuno agrees to take part in a large training camp alongside many notable volleyball teams in Tokyo and even some national level players. By playing with some of the toughest teams in Japan, they hope not only to sharpen their skills, but also come up with new attacks that would strengthen them. Moreover, Hinata and Kageyama attempt to devise a more powerful weapon, one that could possibly break the sturdiest of blocks.  \r\n \r\nFacing what may be their last chance at victory before the senior players graduate, the members of Karasuno's volleyball team must learn to settle their differences and train harder than ever if they hope to overcome formidable opponents old and new—including their archrival Aoba Jousai and its world-class setter Tooru Oikawa. \r\n \r\n[Written by MAL Rewrite]"

In [8]:
type(anime['genre'][0])

str

In [9]:
#Using built-in function ast.literal_eval to convert a string list into a list
import ast
anime['genre'] = anime['genre'].apply(ast.literal_eval)
#Check the type
type(anime['genre'].iloc[0])

list

In [10]:
anime['aired']

0         Oct 4, 2015 to Mar 27, 2016
1        Oct 10, 2014 to Mar 20, 2015
2         Jul 7, 2017 to Sep 29, 2017
3          Apr 5, 2009 to Jul 4, 2010
4                         Jan 6, 2017
                     ...
19306     Oct 6, 2016 to Dec 29, 2016
19307     Apr 6, 1995 to Mar 28, 1996
19308    Oct 22, 2000 to Mar 25, 2001
19309                    Dec 21, 2002
19310                    Mar 12, 1988
Name: aired, Length: 19311, dtype: object

In [22]:
def split_aired(aired):
    if 'to' in aired:
        time = aired.split(' to ')
        start = time[0]
        return start
    return aired
pd.to_datetime(anime['aired'].apply(split_aired), errors='coerce').isnull().sum()

372

In [12]:
a = pd.Series(data=['Oct 6, 2016 to Dec 29, 2016', 'Dec 21, 2002','not ava'])
pd.to_datetime(a.apply(split_aired), errors='coerce')

0   2016-10-06
1   2002-12-21
2          NaT
dtype: datetime64[ns]